{% extends 'base.html' %}
{% block head_title %}Index{% endblock head_title %}
{% block custom_css %}
{% endblock custom_css %}

{% block content %}
<div class="container mt-4">
    <h1>Course list</h1>
    {% if courses %}
    <div class="row">
    {% for courses in courses %}
        <div class="col-lg-4">
            <div class="card wow fadeIn" data-wow-delay="0.2s">
                <div class="card-body">
                    <h4 class="card-title">{{ courses.course_name}}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'core:course_detail' courses.slug %}" class="btn btn-info">Course Details</a>
                </div>
            </div>
        </div>
    {% endfor%}
    </div>
    {% else %}
    <h3>No Course</h3>
    {% endif %}
</div>


{% endblock content %}