{% extends 'base.html' %}
{% block head_title %}Course Details{% endblock head_title %}
{% block custom_css %}
{% endblock custom_css %}

{% block content %}
<div class="container mt-5">
<h1>Course Name </h1>
{{ object.course_name}} <br>
<a href="{% url 'core:teacher_detail' object.slug %}">{{ object.instructer}}</a> <br>
{{ object.date}} <br>
{{ object.description}} <br>
    {% if user.is_student %}
        <form action="{% url "core:student_enroll_course" %}" method="post">
            {{ enroll_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Enroll now">
        </form>
    {% elif not user.is_teacher %}
    <a href="{% url 'accounts:login' %}">Login to Enroll</a>
    {% endif %}
</div>
{% endblock content %}