{% extends 'base.html' %}
{% block head_title %}Course List{% endblock head_title %}
{% block custom_css %}
{% endblock custom_css %}

{% block content %}
<div class="container mt-5">
<h1>Course list</h1>
    <ol>
    {% if user.is_authenticated and user.is_teacher %}
    <a href="{% url 'core:add_course' %}" class="btn btn-outline-unique" rel="nofollow">Add course</a>
        {% if courses %}
            {% for courses in courses %}
                <h3><li>{{ courses.course_name}}</li></h3>
                {% if courses.students.all %}
                <p>Students who was enrolled in this course</p>
                <ul>
                    {% for student in courses.students.all %}
                    <a href="{% url 'core:student_detail' courses.slug %}">{{ student|title }}</a>
                    {% endfor%}
                </ul>
                {% endif %}
                <a href="{% url 'core:course_detail' courses.slug %}" class="btn btn-sm" rel="nofollow">Course Details</a>
            {% endfor%}
        {% else %}
        <h3>Course not added yet.</h3>
        {% endif %}
    </ol>
    {% else %}
    <h3>Login as teacher to see this page</h3>
    {% endif %}
</div>
{% endblock content %}
