{% extends 'base.html' %}
{% block head_title %}Home{% endblock head_title %}
{% block custom_css %}
{% endblock custom_css %}

{% block content %}

<main>
    <!--Main layout-->
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.2s">
            <div class="col-md-12">
            {% if not user.is_authenticated %}
                <div class="jumbotron">
                    <h2 class="h2-responsive"></h2>
                    <br>
                    <p class="lead">
                        If you already have an account, go ahead and <a href="{% url 'accounts:login' %}">log in</a>. If you are new, get started
                        by creating a <a href="{% url 'accounts:student_signup' %}">student account</a> or a <a href="{% url 'accounts:teacher_signup' %}">teacher account</a>.
                    </p>
                    <hr>
                    <a href="{% url 'accounts:student_signup' %}" class="btn btn-outline-unique" rel="nofollow">I'm a student</a>
                    <a href="{% url 'accounts:teacher_signup' %}" class="btn btn-unique btn-ptc" rel="nofollow">I'm a teacher</a>
                </div>
                {% else %}
                {% if user.is_teacher %}
                    <h3><a href="{% url 'core:course_list' %}">Students enrolled courses</a></h3>
                {% endif %}
                {% if user.is_student %}
                <h3 class="float-left">Course list</h3>
                    <h3><a href="{% url 'core:student_enroll_courses' %}" class="float-right">Enrolled Courses</a></h3>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <hr class="extra-margins">
        {% if object_list %}
        <div class="row">
        {% for courses in object_list %}
            {% if not courses.students.all and not user.is_teacher%}
            <div class="col-lg-4">
                <div class="card wow fadeIn" data-wow-delay="0.2s">
                    <div class="card-body">
                        <h4 class="card-title">{{ courses.course_name}}</h4>
                        <p class="card-text">{{ courses.description|truncatechars:100 }}</p>
                        <a href="{% url 'core:course_detail' courses.slug %}" class="btn btn-info">Course Details</a>
                    </div>
                </div>
            </div>
            {% else %}
                {% if user.is_teacher%}
                    <div class="col-lg-4">
                        <div class="card wow fadeIn" data-wow-delay="0.2s">
                            <div class="card-body">
                                <h4 class="card-title">{{ courses.course_name}}</h4>
                                <p class="card-text">{{ courses.description|truncatechars:100 }}</p>
                                <a href="{% url 'core:course_detail' courses.slug %}" class="btn btn-info">Course Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            {% endif %}
        {% endfor%}
        </div>
        {% else %}
        <h3>No Course</h3>
        {% endif %}
    </div>
</main>



{% endblock content %}
