{% extends 'base.html' %}
{% block head_title %}Index{% endblock head_title %}
{% block custom_css %}
{% endblock custom_css %}

{% block content %}
<div class="container mt-4">
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'accounts:login' %}">log in</a>. If you are new, get started
    by creating a <a href="{% url 'accounts:student_signup' %}">student account</a> or a <a href="{% url 'accounts:teacher_signup' %}">teacher account</a>.
  </p>
  <hr>
  {% if user.is_teacher %}
  <a href="{% url 'core:course_list' %}">Course list</a>
  {% else %}
  <a href="{% url 'core:courses' %}">Courses</a>
  {% endif %}
</div>
{% endblock content %}
